---
import SquareLink from "../components/Link/SquareLink.astro";
import Layout from "../layouts/Layout.astro";

const sections: Array<{
  href: string;
  title: string;
}> = [
  {
    href: "blog",
    title: "Blog",
  },
  {
    href: "blog",
    title: "Blog",
  },
  {
    href: "blog",
    title: "Blog",
  },
  {
    href: "blog",
    title: "Blog",
  },
  {
    href: "Projects",
    title: "Projects",
  },
];
---

<Layout title="Welcome to Astro.">
  <main class="w-full mx-0 mt-12">
    <h1 class="text-center text-4xl font-[kingsgmb]">asdf</h1>
    asfd
    <font face="kingsgmb">asdfasdf</font>
  </main>
  <div class="w-full flex justify-evenly items-center">
    {
      sections.map(({ href, title }, i, arr) => (
        <SquareLink
          {href}
          {title}
          size={i === Math.floor((arr.length - 1) / 2) ? 24 : 20}
        />
      ))
    }
  </div>
</Layout>

<style>
h1 {
  font-family: kingsgmb, sans-serif;
}
</style>
